 .artworks_list {
   list-style-type: none;
   width: 900px;
 }
 
.artworks_list_cell {
    background-color: #FFFFFF;
    border: 1px solid #ECECEC;
    float: left;
    height: 200px;
    margin: 0 8px 14px 0;
    padding: 6px;
    position: relative;
    width: 200px;
}