.hs_container {
    /* border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 5px #999; */
    clear: both;
    cursor: pointer;
    height: 540px;
    overflow: hidden;
    position: relative;
    width: 1400px;
}
.hs_container .hs_area {
    overflow: hidden;
    float:left;
    display:inline;
}
.hs_area img.hs_visible {
    display: block;
    z-index: 200;
}

.hs_area2a img,.hs_area2b img,.hs_area3a img,.hs_area3b img {
  height: 155px;
  width: 223px;
}
.artisan_img_frame {
  border-right: 1px solid white;
  overflow:hidden;
}
.artwork_img_frame {
  overflow:hidden;
}
/*
.slider_img_vertical {
	height: 102%;
	max-width: none;
}
.slider_img_horizontal {
	width: 102%;
	max-height: none;
}
*/
.boxcaption{
	float: left;
  	text-shadow: 0px 1px 2px black;
	position: absolute;
	background: rgba(0,0,0,0.6);
	z-index: 205;
	display: none;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.slider_country_name {
  font-size: 10pt;
  display: inline;
}
.artisancover_text{
	font-size:12pt;
	padding:4px;
	padding-left:10px;
	color: white;
}
.artisancover{
  width: 100%;
  line-height: 1.2;
  position:relative;
  top:-46px;
  display: inline;
}

.descriptioncover {
  width: 100%;
}
.descriptioncover_text {
  color: white;
	font-size:12pt;
	padding:4px 10px 4px 10px;
	line-height: 115%;
}
.descriptioncover_name {
  display: inline;
  color:#E25400;
}

.pricecover_text{
  font-size:10pt;
  color: white;
  padding: 4px 10px 4px 10px;
}

.pricecover_digits{
  font-size: 16pt;
  color: #E25400;
  display:inline;
  opacity: 1;
}
.hs_area5a .artisan_img_frame img {
  position: relative;
}

.artisan_item_box {
  position: absolute;
  overflow: hidden;
  padding: 0px;
  background-color: white;
  border: solid 1px #ECECEC;
  box-shadow: 0px 1px 5px #999999;
} 
.artisan_item_box_1 {
    height: 332px;
    left: 0;
    top: 0;
    width: 448px;
}
.artisan_item_box_2 {
    height: 154px;
    left: 472px;
    top: 0;
    width: 448px;
}
.artisan_item_box_3 {
    height: 154px;
    left: 472px;
    top: 178px;
    width: 448px;
}
.artisan_item_box_4 {
    height: 135px;
    left: 0;
    top: 356px;
    width: 336px;
}
.artisan_item_box_5 {
    height: 135px;
    left: 361px;
    top: 356px;
    width: 672px;
}
.artisan_item_box_6 {
    height: 332px;
    left: 946px;
    top: 0;
    width: 448px;
}
.artisan_item_box_7 {
    height: 135px;
    left: 1057px;
    top: 356px;
    width: 338px;
}
